*{
    box-sizing:border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.5vw;
    margin:2vw 2vw;
    padding:1vw;
}
.container{
    background-color:rgba(128, 128, 128, 0.199);
    border:1vw solid black;
    border-radius:1vw;
    padding:1.5vw;
}
h1{
    text-align:center;
}

#pay{
    background-color:rgba(3, 139, 3, 0.801);
    text-align:center;
    width:100%;
    border:none;
    font-size:2vw;
}
input,textarea{
    width:100%;
  
}
input[type="radio"]{
    width:10%;
}